<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <link href="../../public/styles/style_general.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">

      <header>
<nav>
<h2> DAVID HJORTH</h2>

<div class="container socials">

        <a href="www.google.dk">
            <img src="../../public/photos/500px-monogram.png" alt="">
            </a>

        <a href="www.google.dk">
            <img src="../../public/photos/facebook-logo-button.png" alt="">
            </a>

         <a href="www.google.dk">
            <img src="../../public/photos/gmail.png" alt="">
            </a>

        <a href="www.google.dk">
            <img src="../../public/photos/instagram.png" alt="">
            </a>   
        </div>



</nav>

      </header>  

      <div class="container center">
    

  
            <img src="../../public/photos/butterfly.jpg">
                                                            
            <img src="../../public/photos/butterfly.jpg">
            
            <img src="../../public/photos/butterfly.jpg">
                                    
                                                                
            
            </div>>

            <footer>
            <a href="/">
                    <img src="../../public/photos/up-arrow-key.png" alt="">
                    </a> 
                </footer>
    </div>
</body>
</html>