#wrapper{
    width: 916px;
    height: auto;
    margin: 0 auto;
    /* background: url(./photos/butterfly.jpg); */
}
img{
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.flex-container{
    display: flex;
  align-items: center;
  justify-content: center;
}

h1{
    font-size: 100px;
    font-family: 'Bebas Neue';
    color:white;
    margin: 0 auto;

}

#overlay{
align-self: flex-start;
}
