
#wrapper {
    width: 1280px;
    margin: 0 auto;
    height: auto;
    background-color: rgb(236, 236, 236);
}
html{
    background-color:black;
}



@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.socials img:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.3);
      }


h2{
    font-family: 'Bebas Neue';

    font-size: 2rem;
    color:white;
    margin-block-start: 0.3em;
    margin-block-end: 0em;
    padding-left: 10%;
}

.container{
    display: flex;
}

.center{
    justify-content: center;
}

.alignitems{
    align-items: center;
    }

    .socials img:hover {
        transition: all .2s ease-in-out; 
        transform: scale(1.3);
          }
    
    .socials a{
        display: block;
       width: 7%;
       margin: 0 2%;
        
    }
          
    .socials img{
        width:70%;
        padding-top: 15%;
    
    }
    .socials{
      text-align: center;
    display: flex;
    justify-content: center;
    
    }

    #menu{
        background-color: black;
    }

 .burger a{
    display: inline-block;
    width: 50%;
     
 }
 .burger img{
     width: 100%;
     justify-content: flex-end;
     cursor: pointer;
 }

 .burger{
     justify-content: flex-end
 }

 .item{
    flex-grow: 1;
    align-self: baseline;

 }
 .container2{
     margin-top: 5%;

     display: flex;
     flex-direction: row;
     align-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
  
 }


 @keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

 .overlay{
     position: fixed;
     top:0;
     transform: translateX(100%);
    -webkit-transform: translateX(100%);
    animation:slide-in 1.5s forwards;
    z-index: 4;
 }


 .hidden{
    display:none;
    }

.overlay2{
    position:fixed;
    z-index: 10000;
    top: 0;
    right:8%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    animation:slide-in 1.5s forwards;
}

.close_icon img{
width: 25%;

cursor: pointer;
}

.close_icon a{
    width: 25%;
    }

.kategori{

  list-style: none;
        font-family: 'Bebas Neue';
        font-size: 2.5rem;
        color:white;
        margin-block-start: 0.3em;
        margin-block-end: 0em;
        transform: translateX(-40%)
        
}


/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }

  .uparrow{
      position: fixed;
      opacity: 0.8;
      right: -12%;
      bottom: 10%;
     
  }
  .uparrow img{
    width: 30%;
    cursor: pointer;
  }


  /** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox2 {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position:fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox2 img {
	/** Pad the lightbox image */
	max-width: 100%;
	max-height: 90%;
	margin-top: 0.5%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
.lightbox2:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}



/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

figure {
	width: 600px;

	margin: 0;
	padding: 0;
	overflow: hidden;
}

.lightbox img{
    padding: 5% 1% 0 1%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5% 15% ;

}
.col-6{
    background-color: white;
    width: 50%;
    float: left;
}
.col-6 img{
    width: 50%;
}
.line{
    line-height: 150%;
}





input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container4 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.textoverlay{
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
   
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .textoverlay:hover .image {
    opacity: 0.7;
  }
  
  .textoverlay:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Bebas Neue';
    font-size: 30px;
    padding: 16px 32px;
  }

  
h3{
  font-family: 'Bebas Neue';
 background-color: black;
  font-size: 3rem;
  color:white;

 
  padding: 1% 1%;
  width: 20%;
}


h4{
  font-family: 'Bebas Neue';
  background-color: black;
  padding: 1% 1.5%;
  font-size: 1.8rem;
  color:white;
z-index: 2;
display: inline;
position: relative;

}



/* Fixed sidenav, full height */
.sidenav {


  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: 'Bebas Neue';
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color:black;
  background-color: white;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color:#525252;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #1f1f1f;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}