body{

    margin: 0;
}

#wrapper {
    
    display: flex;
    flex-direction: column;
    position:fixed;
   
  z-index: 10;
    margin: 0 auto;
    height: auto;
    background: url(./photos/original.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
html{
    background-color: black;
}

img{
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container{
    display: flex;
}

.center{
    justify-content: center;
}

.alignitems{
align-items: center;
}

.padding{
    padding-top: 26.5% ;
}

a{
    text-decoration: none;
}

.knapper a, button{
    padding: 0.5% 1%;
    border: 1.5px solid white;
    margin: 0 5%;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color:transparent  !important;
}

/* unvisited link */
.knapper a:link {
    color: white;
  }
  
  /* visited link */
  .knapper a:visited {
    color: white;
  }
  
  /* mouse over link */
  .knapper a:hover,button:hover {
transition: all .2s ease-in-out; 
transform: scale(1.1);
  }
  
  /* selected link */
  .knapper a:active, button {
    color: white;
  }

h1{
    margin: 0 0;
    font-family: 'Bebas Neue';
    font-weight: 100;
    font-size: 12rem;
    color:white;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.233);
}

.socials img:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.2);
      }

.socials a{
    display: block;
   width: 7%;
   margin: 0 4%;
    
}
      
.socials img{
    width:70%;

}
.socials{
  text-align: center;
display: flex;
justify-content: center;

}

/* kom nu */

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

 .overlay{
     position: fixed;
     top:0;
     transform: translateX(100%);
    -webkit-transform: translateX(100%);
    animation:slide-in 1.5s forwards;
    z-index: 1;
 }


 .hidden{
    display:none;
    }

.overlay2{
    position:fixed;
    z-index: 3;
    top: 0;
    right:8%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    animation:slide-in 1.5s forwards;
}

.close_icon img{
width: 25%;

cursor: pointer;
}

.close_icon a{
    width: 25%;
    }

.kategori{
    padding-top: 30%;
  list-style: none;
        font-family: 'Bebas Neue';
     
        font-size: 2.5rem;
        color:white;
        margin-block-start: 0.3em;
        margin-block-end: 0em;
        transform: translateX(-40%)
        
}


/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }

  .uparrow{
      position: fixed;
      opacity: 0.8;
      right: 0;
      bottom: 10%;
     
  }
  .uparrow img{
    width: 30%;
    cursor: pointer;
  }

  .showClick{
      color:white;
  }


  #wrapper2{
  z-index: -10;
    width: 1280px;
    margin: 0 auto;
    height: auto;
    background-color: rgb(236, 236, 236);
   
}
  



@keyframes slide-up {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(-100%); }
}



@-webkit-keyframes fade-in {
    0%,100% {opacity: 0;}
    100% {opacity: 1;}
 }
 @keyframes fade-in {
    0%,100% {opacity: 0;}
    100% {opacity: 1;}
 }


 #menu{
    background-color: black;
}

.burger a{
display: inline-block;
width: 50%;
 
}
.burger img{
 width: 100%;
 justify-content: flex-end;
 cursor: pointer;
}

.burger{
 justify-content: flex-end
}

h2{
    font-family: 'Bebas Neue';

    font-size: 2rem;
    color:white;
    margin-block-start: 0.3em;
    margin-block-end: 0em;
    padding-left: 10%;
}
h3{
    font-family: 'Bebas Neue';
    
    font-size: 2rem;
    color:white;
background-color: black;
padding: 1% 1.5%;
transform: translateY() ;
transform: translateX(-190%) ;
}




.container{
    display: flex;
}
.socials img:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.3);
      }

.socials a{
    display: block;
   width: 7%;
   margin: 0 5%;
    
}
      
.socials img{
    width:70%;
    padding-top: 15%;

}
.socials{
  text-align: center;
display: flex;
justify-content: center;

}


.parallax {
    /* The image used */
    background-image: url("./photos/butterfly.jpg");
  
    /* Set a specific height */
    min-height: 350px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  iframe {
      border: 4px solid black;

    margin-top: 20px;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
    } 

    